<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dxj.dao.GuruMapper">
    <select id="queryGuruAll" resultType="Guru">
    select id,name,pic_img picImg,username,
     password,salt,reg_time regTime
     from guru limit ${(page-1)*count},#{count}
  </select>
    <update id="updateGuru">
        update guru
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="picImg!=null">
                pic_img=#{picImg},
            </if>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="salt!=null">
                salt=#{salt},
            </if>
            <if test="regTime!=null">
                reg_time=#{regTime},
            </if>
        </set>
        where id=#{id}
    </update>
    <select id="countGuru" resultType="int">
    select count(*) from guru
  </select>
</mapper>